<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="FastFoodPOS.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <connectionStrings>
        <add name="FastFoodPOS.Properties.Settings.FastFoodDatabaseConnectionString"
            connectionString="Provider=Microsoft.ACE.OLEDB.12.0;Data Source=|DataDirectory|\FastFoodDatabase.accdb;Persist Security Info=True"
            providerName="System.Data.OleDb" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
    <appSettings>
      <!-- ENTER THE PASSWORD HERE -->
      <add key="Password" value="FFPSPASSWORD"/>

      <add key="DbProvider" value="MSACCESS"/>
      <add key="ConnectionString" value="Provider=Microsoft.ACE.OLEDB.12.0;Data Source=|DataDirectory|Resources\FastFoodDatabase.accdb;Ole DB Services=-1" />

      <!-- 
      MYSQL DATABASE IS NOW SUPPORTED
      Just CONFIGURE THE DATABASE Connection below FIRST then CHANGE the DbProvider to MYSQL
      Note: The tables will be automatically imported
      -->
      <add key="host" value="localhost"/>
      <add key="user" value="root"/>
      <add key="pass" value=""/>
      <add key="db" value="fastfood_pos"/>
    </appSettings>

  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  <!-- Dont Change anything here -->
  <applicationSettings>
        <FastFoodPOS.Properties.Settings>
              <setting name="MySQLTables" serializeAs="String">
                    <value>
CREATE TABLE IF NOT EXISTS `orders` (
  `id` int(11) NOT NULL AUTO_INCREMENT,
  `product_id` int(11) NOT NULL,
  `transaction_id` varchar(256) NOT NULL,
  `quantity` int(11) NOT NULL,
  `price` decimal(10,2) NOT NULL,
  PRIMARY KEY(id)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;


CREATE TABLE IF NOT EXISTS `products` (
  `id` int(11) NOT NULL AUTO_INCREMENT,
  `name` varchar(256) NOT NULL,
  `category` varchar(256) NOT NULL,
  `price` decimal(10,2) NOT NULL,
  `is_available` tinyint(1) NOT NULL,
  `image` varchar(256) NOT NULL,
  `is_deleted` tinyint(1) NOT NULL DEFAULT '0',
  PRIMARY KEY(id)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;


CREATE TABLE IF NOT EXISTS `transactions` (
  `id` varchar(256) NOT NULL,
  `user_id` int(11) NOT NULL,
  `date_created` datetime NOT NULL DEFAULT CURRENT_TIMESTAMP,
  `cash` decimal(10,2) NOT NULL,
  PRIMARY KEY(id)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;


CREATE TABLE IF NOT EXISTS `users` (
  `id` int(11) NOT NULL AUTO_INCREMENT,
  `fullname` varchar(256) NOT NULL,
  `email` varchar(256) NOT NULL,
  `role` varchar(256) NOT NULL,
  `password` varchar(256) NOT NULL,
  `image` varchar(256) NOT NULL,
  `is_deleted` tinyint(1) NOT NULL DEFAULT '0',
  PRIMARY KEY(id)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;


CREATE OR REPLACE VIEW `OrderTotal` AS
SELECT transaction_id, SUM(price*quantity) AS total, Sum(quantity) AS orders
FROM orders
GROUP BY transaction_id;


CREATE OR REPLACE VIEW `TransactionsView` AS
SELECT transactions.*, OrderTotal.total, OrderTotal.orders
FROM transactions INNER JOIN OrderTotal ON transactions.id=OrderTotal.transaction_id;


CREATE OR REPLACE VIEW `SalesView` AS
SELECT Sum(TransactionsView.total) AS Sale, date_created AS day, Sum(TransactionsView.orders) AS total_order, Count(TransactionsView.id) AS total_customer
FROM TransactionsView
GROUP BY day
ORDER BY day;

</value>
              </setting>
        </FastFoodPOS.Properties.Settings>
    </applicationSettings>
</configuration>
